/* General styles for Waybar */
* {
    font-family: 'JetBrainsMonoNF-Regular', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

/* Specific styles for custom modules */
.custom-night_light,
.custom-night_light_intensity {
    font-family: 'JetBrainsMonoNF-Regular', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

/* Example: Specific styles for other Waybar elements */
.network,
.bluetooth,
.temperature,
.battery,
.backlight,
.pulseaudio,
.tray,
.clock {
    font-family: 'JetBrainsMonoNF-Regular', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

