[Unit]
Description=Change monitor refresh rate based on power status
After=hyprland.service

[Service]
Type=oneshot
ExecStart=/home/sohighman/Documents/Scripts/change-refresh-rate2.sh
Environment=HYPRLAND_INSTANCE_SIGNATURE=918d8340afd652b011b937d29d5eea0be08467f5_1719883741_573498531

[Install]
WantedBy=default.target

